
/* Importing Playfair Display font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&display=swap');

/* Reset and Basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #205567;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: linear-gradient(10deg, #92d4d2,#f16a70);
    color: #68587c;
    text-align: center;
    font-family:'Playfair Display', serif;
}

.cta-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #b2a2bb;
    background-color: #58304b;
    text-decoration: none;
    border-radius: 5px;
}

/* Section Styling */
.section {
    padding: 2rem;
}

.section h2 {
    margin-bottom: 1rem;
}

/* About Me Section */
.about-content {
    display: flex;
    gap: 2rem; /* Space between columns */
    align-items: center;
}

.about-image img {
    width: 100%; /* Makes the image responsive */
    max-width: 400px; /* Set a maximum width for the image */
    border-radius: 100%; /* Rounds the image */
    padding-left: 50px;
    padding-right: 50px;
}

.about-text {
    flex: 9; /* Fills remaining space */
    font-family:'Playfair Display', serif;
    justify-content: center;
}

 #contact {
    background-color: #f1b2b2;
    font-family:'Playfair Display', serif;
}

/* Projects Grid */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project-card {
    background-color: #92d4d2;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family:'Playfair Display', serif;
}

/* Skills List */
.skills-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    font-family:'Playfair Display', serif;
    padding: 1rem;
    background-color: #92d4d2;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(10deg, #92d4d2,#f16a70);
    font-family:'Playfair Display', serif;
    color: #205567;
}
/* Style for the horizontal line below the heading */
#section-divider {
    width: 5%; /* Adjust the width to control how long the line is */
    margin: 0.5rem auto; /* Centers the line and adds spacing */
    border: none; /* Removes the default styling */
    height: 2px; /* Thickness of the line */
    background-color: #333; /* Color of the line */
}
#contact p{
    padding-left: 10px;
}
#about{
    background-color: #f1b2b2;
    padding-top: 1rem;
}
